@using İnfoCar.ViewModels
@model HomeViewModels 
@{
    ViewData["Title"] = "Index";
}
<ul>
    @foreach (var item in Model.Cars)
    {
        <li>Cars Id: @item.Id Cars Brands: @item.Brand Cars Models: @item.Model Cars Average: @item.Average Cars Prices: Cars Year: @item.Year @item.Price </li>
    }
</ul>

<ul>
    @foreach (var item in Model.Brands)
    {
        <li>Cars Brands Id: @item.Id Cars Brands Name: @item.Name </li>
    }
</ul>

<ul>
    @foreach(var item in Model.Model)
            {
                <li>Cars Models Id: @item.Id Cars Models Name: @item.Name </li>
            }
</ul>





