@using İnfoCar.Models
@model List<Cars>
@{
    ViewData["Title"] = "Index";
}
<div class="card" style="width: 18rem">

    @foreach (var item in Model)
    {
        <img src="@item.Link" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Brand: @item.Brand</h5>
            <h5 class="card-title mt-2">Model: @item.Model</h5>
            <p class="card-text">Model Id: @item.Id</p>
            <p class="card-text">Model Average: @item.Average</p>
            <p class="card-text">Model Year: @item.Year</p>
            <p class="card-text">Model Price: @item.Price</p>
            <a href="#">@Html.ActionLink("to Detail", "detail", "car")</a>
            
        </div>
    }

</div>
